@font-face {
  font-family: Standardstencil;
  src: url('../assets/fonts/Standardstencil.otf');
}
@font-face {
  font-family: Tele2DisplaySerif_Bold;
  src: url('../assets/fonts/Tele2DisplaySerif_Bold.ttf');
}
@font-face {
  font-family: Tele2DisplaySerif_Regular;
  src: url('../assets/fonts/Tele2DisplaySerif_Regular.ttf');
}
* {
  margin: 0;
  padding: 0;
}
div, p, span, h1, h2, h3, h4, img {
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
}
html, body { height: 100%; }
body {
  margin: 0;
  padding: 0;
  background: #DCF6FB;
  display: flex;
  align-items: center;
  justify-content: center;
}
body::before {
  content: '';
  background: #000000;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}
canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

#root {
  position: fixed;
}
